/* About.css */

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222; /* Background color for the entire container */
  color: #fff; /* Text color */
  font-family: Arial, sans-serif;
  min-height: 81.5vh;
}

.text-container {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 15px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
}

/* Apply the animation to the profile image */
.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #787b7e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: float 6s ease-in-out infinite; /* Apply the float animation */
}

/* Additional styling for the circular image */
.profile-image {
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
  transform: scale(
    1.1
  ); /* Add a hover effect to make it slightly bigger on hover */
}
