/* About.css */

:root {
  --background-dark: #222;
  --text-dark: #fff;
  --border-dark: #787b7e;
  --box-shadow-dark: rgba(0, 0, 0, 0.3);
  --background-light: #fff;
  --text-light: #000;
  --border-light: #ccc;
  --box-shadow-light: rgba(0, 0, 0, 0.1);
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 80.4vh;
  transition: background-color 0.3s, color 0.3s; /* Add transitions for smoother mode switch */
}

.text-container {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 15px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
}

/* Apply the animation to the profile image */
.center-container {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  /* height: 100vh; Adjust the height as needed */
}

.mode-switch {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-dark);
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

.profile-image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 5px solid var(--border-dark);
  box-shadow: 0 0 20px var(--box-shadow-dark);
  animation: float 6s ease-in-out infinite;
}

.profile-image:hover {
  transform: scale(1.1);
}

.typing-animation {
  overflow: hidden; /* Hide the overflow of the container */
  white-space: nowrap; /* Prevent text from wrapping */
  animation: typing 2s steps(40, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #fff; /* Color of the blinking caret */
  }
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    text-align: center; /* Center-align text on smaller screens */
  }

  .text-container {
    padding: 20px;
    text-align: center; /* Center-align text on smaller screens */
    width: 90%; /* Set a specific width for the text container */
    margin: 0 auto; /* Center the container horizontally */
  }

  h1 {
    font-size: 28px; /* Reduce the heading font size on smaller screens */
  }

  p {
    font-size: 16px; /* Reduce the paragraph font size on smaller screens */
    margin: 10px 0; /* Add some margin between paragraphs */
  }

  .image-container {
    margin-top: 20px; /* Add some spacing between text and image on smaller screens */
  }

  .profile-image {
    width: 160px; /* Reduce the image size on smaller screens */
    height: 160px;
  }
}
